<template>
    <section class="dbshell-content">
        <div class="loading" v-show="loading">
            <div class="loading">
                <n-spin :size="128" />
            </div>
        </div>
        <div class="xterm" ref="xterm"></div>
    </section>
</template>

<script setup>
import "xterm/css/xterm.css";
import { defineComponent, onMounted, inject, watch, ref, computed } from 'vue';
import { defineStore } from 'pinia';
import { OrbitComponentMixin } from '@/../node_modules/orbit-component-base';
import { Terminal } from 'xterm';
import { FitAddon } from 'xterm-addon-fit';
import { CanvasAddon } from 'xterm-addon-canvas';
import { NSpin } from 'naive-ui';
import pkg from '../package.json';

const term_options  = {
    theme: {
        background: 'white',
        foreground: 'black',
        cursor: 'black',
    },
    rendererType: "canvas",
    fontFamily: 'DejaVu Sans Mono',
    fontSize: '18',
    lineHeight: 1,
    useStyle: true,
    screenKeys: true,
    cursorBlink: true,
}
const fitAddon      = new FitAddon();
const socket        = ref({connected:false})
const loading       = ref(true)
const xterm         = ref(null)
const plugin        = inject('$orbitPlugin')
const root          = computed(() => opt.router.currentRoute.value.meta.root)
const exec          = computed(() => opt.router.currentRoute.value.meta.exec)
const active        = computed(() => socket.value.connected)
const xterm_id      = 'xterm_' + root.value

const term = new Terminal(term_options)
term.loadAddon(fitAddon);
term.loadAddon(new CanvasAddon());

onMounted(async () => {
    await plugin (opt, namespace, socket)
    term.open(xterm.value)
    setTimeout(() => {
        loading.value = false
    }, 1500)
    new ResizeObserver(() => { resize() }).observe(xterm.value)
})

const resize = () => {
    fitAddon.fit();
    if (active.value)
        socket.value.emit('resize', xterm_id, term.rows, term.cols)
}

const mount = () => {
    socket.value.emit('mount', xterm_id, exec.value, (response) => {
        if (!response) throw new Error('unknown error')
        if (!response.ok) {
            term.write(`Error connecting to server: ${response.error}!\r\n`)
            return
        }
        resize()
        term.focus()
    })
}

watch (active, (n, o) => {
    if (n && !o) {
        if (socket.value == null) {
            term.write(`Error: failed to find ${namespace} namespace, backend not installed!\r\n`)
            return
        }
        socket.value.on(`data_${xterm_id}`, (response) => {
            term.write(response.data)
        })
        term.onData(async data => {
            await socket.value.emit('send_key', xterm_id, data, (response) => {
                if (response && !response.ok) mount()
            })
        })
        mount()
    }
}, {immediate: true})
</script>

<script>
const namespace = 'dbshell'
const mixin = OrbitComponentMixin(namespace, defineStore)
const opt = ref(null)
const app = ref(null)

export default defineComponent({
    name: namespace,
    install (vue, options) {
        mixin.install (vue, options, this, app, opt)
    },
    bootstrap () {
        return mixin.bootstrap (pkg.version)
    },
})
</script>


<style>
.dbshell-content {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-bottom: 4px;
    padding-left: 1.5em;
    padding-top: 1em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
}
section.dbshell-content .xterm {
    height: 100%;
    width: 100%;
}
section.dbshell-content .loading {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 100px;
    margin-bottom: 100px;
}
</style>